@import '../config.scss';

.main-page__body {
  margin-top: 15px;
}

.main-page__body__card {
  margin-bottom: 15px;
}

.main-page__body__card__title {
  margin-bottom: 5px !important;
}

.main-page__body__card__createdAt {
  margin-bottom: 20px !important;
}

.main-page__body__card__description {
  line-height: 18pt !important;
  font-size: 14px !important;
}